<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>601842383699-0ld7pjms4468r2ep5i2pdvf01910ad09.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601842383699-0ld7pjms4468r2ep5i2pdvf01910ad09</string>
	<key>API_KEY</key>
	<string>AIzaSyCTNiHohFhn6T8-sCE34FJ3bXzxTfMZfR0</string>
	<key>GCM_SENDER_ID</key>
	<string>601842383699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rajafsg.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pingo-cd60b</string>
	<key>STORAGE_BUCKET</key>
	<string>pingo-cd60b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601842383699:ios:16e89453ed5308f227ffa6</string>
</dict>
</plist>